.App {
  text-align: center;
  overflow: hidden;
}

.Button {
  margin-top: 20vh;
}

.buttonMobile {
  margin-top: 25vh;
}

.button {
    margin-top: 15%;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#cards-label, #demo-simple-select {
  color: white;
}